body {
    font-size: 120%;
    background: whitesmoke;
}
* {
    margin: 0px;
    padding: 0px;
}

header{
    background:darkgray;
    text-align: center;
    font-size: 40px;
    color: white;
    width:100%;
    height: 150px;
    top: 0;
    position: fixed;
    padding: 30px;
}

.input-group label {
    display: block;
    text-align: left;
    margin: 3px;
}
.input-group input {
    height: 30px;
    width: 93%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
}
.btn {
    padding: 10px;
    font-size: 15px;
    color: lawngreen;
    background: grey;
    border: none;
    border-radius: 7px;
}
.error {
    width: 92%;
    margin: 0px auto;
    padding: 10px;
    border: 1px solid #a94442;
    color: #a94442;
    background: #f2dede;
    border-radius: 5px;
    text-align: left;
}
.input-group {
    margin: 10px 0px 10px 0px;
}
.success {
    color: #3c763d;
    background: #dff0d8;
    border: 1px solid #3c763d;
    margin-bottom: 20px;
}
form, .content {
    width: 30%;
    margin: 0px auto;
    padding: 20px;
    border: 1px solid #B0C4DE;
    background: white;
    border-radius: 0px 0px 10px 10px;
}

/*Za cekboksot*/
.container {
    display: block;
    position: relative;
    padding-left: 10px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    margin-left: 15px;
    height: 15px;
    width: 15px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: forestgreen;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 4px;
    top: 0px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/*Kinodvorana style */
.kinoDvoranaInput label {
    display: block;
    text-align: left;
    margin: 3px;
}
.kinoDvoranaInput input {
    height: 30px;
    width: 5%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
}
.kinoDvoranaInput {
    margin: 10px 0px 10px 0px;
}
footer{
    background-color:darkgray;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    position: fixed;
}
ul{
    top: 0;
    list-style: none;

}
ul li{
    float:left;
    width: 200px;
    height: 40px;
    background-color: darkgray;
    opacity: .8;
    line-height: 20px;
    text-align: center;
    font-size: 28px;
    margin-right: 4%;

}
ul li a{
    text-decoration:none;
    color:lawngreen;
    display:block;

}
ul li a:hover{
    background-color: darkcyan;
}
ul li ul li{
    display: none;
}
ul li:hover ul li {
    display:block;
}
.form{
    border: 1px solid green;
}